<h1>ログイン</h1>

<%= form_tag '/top/login' , method: :post do %>
<%= label_tag :uid, 'ユーザーID' %>
<%= text_field_tag :uid %><br>
<%= label_tag :pass, 'パスワード' %>
<%= text_field_tag :pass %><br>
<%= submit_tag '登録' ,class: "btn_edit" %>


<%end%>


<%= link_to 'ユーザー登録', users_new_url %><br>
<%= link_to 'ユーザー一覧', root_path %>