<h1>Tweets一覧</h1>

<% @tweets.each do |t| %>
<%= t.message %>
｜投稿者：<%= t.user.uid %>
<%= e.message %>
<%= link_to 'いいね', likes_path(tweet_id: e.id), method: :post %>
<%= link_to 'いいね削除', like_path(e), method: :delete %>
<%= link_to '削除', "/tweets/#{t.id}", method: :delete %>
<br>
<% end %>
<br>
<%= link_to 'ツイートする', 'new' %><br>
<%= link_to 'ログアウト', top_logout_url %>